@use "../../styles/variables" as *;

.input-wrapper {
    color: $primary-text-color;
    font-size: 16px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .input-content {
        width: 100%;
        border-radius:$primary-border-radius;
        display: flex;

        .icon {
            padding: 12px;
            background-color: $tertiary-bg-color;
            border-radius: 8px 0 0 8px;

            ::ng-deep img {
                height: 20px;
                width: 20px;
                object-fit: contain;
                filter: invert(1);
              }
        }

        input {
            border: none;
            border-radius: 0 8px 8px 0;
            background-color: $tertiary-bg-color;
            padding: 12px 0 12px 20px;
            width: 100%;
            color: $primary-text-color;
        }

        input:focus {
            outline: none;
            border: none;
          }
    }
}