<app-default-auth-layout title="Cadastrar" subtitle="Crie sua conta" primaryLinkText="Já tem uma conta?" secondLinkText="Entrar" showLink="true" linkUrl="/login">
    <app-primary-input formControlName="name" inputName="name" type="text" label="Nome"
        placeholder="Nome completo">
        <img src="assets/icons/name-icon.svg" alt="name icon">
    </app-primary-input>

    <app-primary-input formControlName="email" inputName="email" type="email" label="Email"
        placeholder="student@example.com">
        <img src="assets/icons/email-icon.svg" alt="email icon">
    </app-primary-input>

    <app-primary-input formControlName="password" inputName="password" type="password" label="Senha"
        placeholder="********">
        <img src="assets/icons/password-icon.svg" alt="password icon">
    </app-primary-input>

    <app-primary-input formControlName="classAcessCode" inputName="classAcessCode" type="text" label="Código de Acesso"
        placeholder="Código de Acesso">
        <img src="assets/icons/key-icon.svg" alt="key icon">
    </app-primary-input>

    <app-primary-button>Cadastrar</app-primary-button>
</app-default-auth-layout>