<app-auth-layout title="Entrar" subtitle="Análise e Desenvolvimento de Sistemas"
    primaryLinkText="Ainda não tem uma conta?" secondLinkText="Cadastre-se" showLink="true" linkUrl="/signup">
    <app-primary-input formControlName="email" inputName="email" type="email" label="Email"
        placeholder="student@example.com">
        <img src="assets/icons/email-icon.svg" alt="email icon">
    </app-primary-input>

    <app-primary-input formControlName="password" inputName="password" type="password" label="Senha"
        placeholder="********">
        <img src="assets/icons/password-icon.svg" alt="password icon">
    </app-primary-input>

    <app-primary-button>Entrar</app-primary-button>
</app-auth-layout>